    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/pulse/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-FnujoHKLiA0lyWE/5kNhcd8lfMILbUAZFAT89u11OhZI7Gt135tk3bGYVBC2xmJ5" crossorigin="anonymous">
    <!-- BOOTSTRAP 4-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <!-- CSS Custom -->
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    {{>navigation-index}}
<!-- Header -->
<header class="header bg-dark"> 
    <div class="header-content animated fadeIn bg-text-light">
        <img load="eager" src="img/logo1.png" alt="J&G Logo" style="height: 65%; width: 75%;" class="logo">
        <h3 class="titulo">Clinica de Puertas de Carros J&G</h3>
        <p class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sed delectus debitis quasi dolor dolores, cumque expedita? Sequi laborum voluptates illum possimus aperiam sunt rerum iste. Neque facere optio nam!</p>                                                        
    </div>
</header>

<!-- SERVICES -->
<section class="servicios text-center gris-j">
    <h3 id="" class="titulo">Servicios</h3>
    <div class="parte grid-3">
        <div>
            <i class="fas fa-map-marker-alt fa-6x rojo-color"></i>
            <h3 class="titulo">Ubicacion</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eius est impedit unde maxime vero?</p>
        </div>
        <div>
            <i class="fas fa-wrench fa-6x gris-color"></i>
            <h3 class="titulo">Reparacion</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eius est impedit unde maxime vero?</p>
        </div>
        <div>
            <i class="fas fa-receipt fa-6x"></i>
            <h3 class="titulo">Garantia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eius est impedit unde maxime vero?</p>
        </div>
    </div>  
</section>

<!-- ABOUT -->
<section class="about azul-s">
    <div class="parte text-center">
        <div class="grid-2">
            <div class="center">
                <i class="fas fa-car fa-10x beige-color"></i>
            </div>
            <div>
                <h3 class="titulo">Soporte tecnico especializado</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti laboriosam architecto ratione rem dolore dolorem delectus voluptatum molestiae similique tempore?</p>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT TWO -->
<section class="about gris-j">
    <div class="parte text-center">
        <div class="grid-2">
            <div>
                <h3 class="titulo">¿Quienes somos?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti laboriosam architecto ratione rem dolore dolorem delectus voluptatum molestiae similique tempore?</p>
            </div>
            <div class="center">
                <i class="fas fa-car fa-10x beige-color"></i>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="footer text-center bg-light" id="footer">
    <p>Clinica de Puertas de Carros J&G &copy; 2020 - Todos los derechos reservados.</p>
</footer>
<!-- Scripts-->
<script src="/js/scripts.js"></script>