    <!-- Lazy Load -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script>
    $(function() {
        $("img.item-contenido.lazy").lazyload({effect : "fadeIn"});
    });
    </script>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/pulse/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-FnujoHKLiA0lyWE/5kNhcd8lfMILbUAZFAT89u11OhZI7Gt135tk3bGYVBC2xmJ5" crossorigin="anonymous">
    <!-- BOOTSTRAP 4-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <!-- Css Tienda -->
    <link rel="stylesheet" href="/css/tienda1.css">
</head>
<body>
    {{>navigation-shop}}
<header>
    <form action="">
        <input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="Buscar">
    </form>
    <div class="categorias" id="categorias">
        <a href="#" class="activo-c">Todos</a>
        <a href="#">Naturaleza</a>
        <a href="#">Ciudades</a>
        <a href="#">Personas</a>
        <a href="#">Animales</a>
    </div>
</header>
<div class="contenedor">
<section class="grid" id="grid">
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/1.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="ciudades"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/2.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="personas"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/3.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/4.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="ciudades"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/5.png" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="personas"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/6.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="personas"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/7.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/8.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="ciudades"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/9.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/10.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/11.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="ciudades"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/12.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="personas"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/13.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/14.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="ciudades"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/15.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="personas"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/16.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="personas"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/17.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/18.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="ciudades"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/19.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/20.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/21.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="ciudades"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/22.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="personas"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/23.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/24.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="ciudades"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/25.png" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="personas"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/26.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="personas"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/27.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/28.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="ciudades"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/29.jpg" width="200" height="200"><br />
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="item" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
            <img class="lazy item-contenido" data-original="img/productos/30.jpg" width="200" height="200">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
</section>
</div>

<!-- FOOTER -->
<footer class="footer text-center bg-light" id="footer">
    <p>Clinica de Puertas de Carros J&G &copy; 2020 - Todos los derechos reservados.</p>
</footer>
<!-- Muri -->
<script src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"></script>
<script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
<!-- Scripts-->
<script src="/js/scripts-shop1.js"></script>