    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/pulse/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-FnujoHKLiA0lyWE/5kNhcd8lfMILbUAZFAT89u11OhZI7Gt135tk3bGYVBC2xmJ5" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <!-- BOOTSTRAP 4-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <!-- Css Tienda -->
    <link rel="stylesheet" href="/css/tienda.css">
</head>
<body>
    {{>navigation-shop}}
<header>
    <form action="">
        <input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="Buscar">
    </form>
    <div class="categorias" id="categorias">
        <a href="#" class="activo-c">Todos</a>
        <a href="#">Naturaleza</a>
        <a href="#">Ciudades</a>
        <a href="#">Personas</a>
        <a href="#">Animales</a>
    </div>
</header>
<section class="grid" id="grid">
    <div class="card" 
        data-categoria="naturaleza"
        data-etiquetas=""
        data-descripcion=""
        >
        <img loading="lazy" alt="" class="lazyload" width="200" height="200" src="img/productos/1.jpg">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
        <div class="card" 
            data-categoria=""
            data-etiquetas=""
            data-descripcion=""
            >
        <img loading="lazy" alt="" class="lazyload" width="200" height="200" src="img/productos/2.jpg">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
        <div class="card" 
            data-categoria=""
            data-etiquetas=""
            data-descripcion=""
            >
        <img loading="lazy" alt="" class="lazyload" width="200" height="200" src="img/productos/3.jpg">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
        <div class="card" 
            data-categoria="motores"
            data-etiquetas="motores"
            data-descripcion="motores"
            >
        <img loading="lazy" alt="" class="lazyload" width="200" height="200" src="img/productos/4.jpg">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
        <div class="card" 
            data-categoria=""
            data-etiquetas=""
            data-descripcion=""
            >
        <img loading="lazy" alt="" class="lazyload" width="200" height="200" src="img/productos/5.png">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
        <div class="card" 
            data-categoria=""
            data-etiquetas=""
            data-descripcion=""
            >
        <img loading="lazy" alt="" class="lazyload" width="200" height="200" src="img/productos/6.jpg">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
        <div class="card" 
            data-categoria=""
            data-etiquetas=""
            data-descripcion=""
            >
        <img loading="lazy" alt="" class="lazyload" width="200" height="200" src="img/productos/7.jpg">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    </div>
        <div class="card" 
            data-categoria=""
            data-etiquetas=""
            data-descripcion=""
            >
        <img loading="lazy" alt="" class="lazyload" width="200" height="200" src="img/productos/8.jpg">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    </div>
        <div class="card" 
            data-categoria=""
            data-etiquetas=""
            data-descripcion=""
            >
        <img loading="lazy" alt="" class="lazyload" width="200" height="200" src="img/productos/9.jpg">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    </div>
        <div class="card" 
            data-categoria="ciudades"
            data-etiquetas=""
            data-descripcion=""
            >
        <img loading="lazy" alt="" class="lazyload" width="200" height="200" src="img/productos/10.jpg">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
	    	<a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="footer text-center bg-light" id="footer">
    <p>Clinica de Puertas de Carros J&G &copy; 2020 - Todos los derechos reservados.</p>
</footer>
<!-- Muri -->
<script src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"></script>
<script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
<!-- Scripts-->
<script src="/js/scripts-shop.js"></script>