/* MURI*/
.contenedor {
  width: 100%;
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.grid {
  position: relative;
  width: 100%;
  opacity: 0;
  height: auto;
  padding: 40px 0px;
  transition: opacity 0.5s linear 0.5s;
}

.grid.imagenes-cargadas {
  opacity: 1;
}

.grid .item {
  background: #fefefe;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
  box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
  position: absolute;
  display: block;
  min-height: 195px;
  border: 1px solid rgba(0,0,0,0.125);
  margin-top: 50px;
  width: calc(32.33% - 20px);
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 14px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .grid .item {
  background: #222222;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.grid .item-contenido {
  position: relative;
}

.grid .item img {
  vertical-align: top;
  border-radius: 7px;
  top: -50px;
  width: calc(100% - 40px);
  max-height: 165px;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid .item .botones {
  width: 100%;
  margin-top: -20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid .item .botones .boton {
  padding: 10px;
  color: #fff;
  width: 100%;
  display: block;
  background: #111111;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.grid .item .botones .boton.primario {
  background: #3E60E9;
}

.grid .item .botones .boton.primario:hover {
  background: #254BE6;
}

.grid .item .botones .boton.secundario {
  background: #C8C8C8;
}

.grid .item .botones .boton.secundario:hover {
  background: #ACABAB;
}

/* Barra de navegacion */
body.dark nav a {
  color: #c8c8c8;
}

body.dark nav a:hover {
  color: #fefefe;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #f4563a;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link .bg-dark {
  color: rgba(255, 255, 255, 0.7);
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f4623a;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.float-right {
  float: right !important;
}

.button-d {
  position: absolute;
  top: 18px;
  left: 81.45%;
  right: 0;
  z-index: 1;
  width: 32px;
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: #f4623a;
    font-size: 20px;
  }
  #mainNav .navbar-brand:hover {
    color: #ff7359;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #f4623a;
  }
  #mainNav.navbar-scrolled .navbar-brand .bg-dark {
    color: #fff !important;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #ff7359;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link.bg-dark {
    color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }
  .bg-dark {
    color: #fff;
  }
}

/* HEADER*/

header .categorias a.activo-c {
	color: #000;
}
header {
	padding-top: 40px;
}

header .logo {
	text-align: center;
	margin-bottom: 40px;
}

header .logo p {
	color: #9B9B9B;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

header .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
  font-size: 16px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header .categorias a {
	color: #9B9B9B;
	margin: 10px 20px;
	font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

header .categorias a.activo-c {
	color: #000;
}

.overlay.activo-c {
	display: flex;
}

.bg-dark {
    background: #222222 !important;
}

/* Configuracion Adaptable */

@media(min-width: 320px) {
  .navbar-brand {
    margin-right: auto;
  }
  .button-d {
      position: inherit;
      width: 398%;
  }
  .fa-moon {
      margin-left: 720%;
  }
}

@media(min-width: 360px) {
  .button-d {
      position: inherit;
      width: 455%;
  }
  .fa-moon {
      margin-left: 850%;
  }
}

@media(min-width: 375px) {}

@media(min-width: 411px) {
  .button-d {
      position: inherit;
      width: 527%;
  }
  .fa-moon {
      margin-left: 1030%;
  }
}

@media(min-width: 414px) {}

@media(min-width: 768px) {
}

@media(min-width: 1024px) {
  .fa-moon {
    margin-left: auto;
  }
}

@media(min-width: 1324px) {}

@media(min-width: 1920px) {
  .button-d {
      position: absolute;
      top: 18px;
      left: 1550px;
      right: 0;
      z-index: 1;
      width: 32px;
  }
  .fa-moon {
      margin-left: auto;
  }
}